USE [BotManager]
GO
/****** Object:  Table [dbo].[PollList]    Script Date: 13/11/1399 04:46:35 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NumbersOfVote] [int] NOT NULL,
	[PollTitle] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PollList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PollManager]    Script Date: 13/11/1399 04:46:35 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PollManager](
	[PollID] [int] IDENTITY(1,1) NOT NULL,
	[VotedByUser] [varchar](150) NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_PollManager] PRIMARY KEY CLUSTERED 
(
	[PollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
